html
{
	box-sizing: border-box;
}

body
{
	margin: 0;
	display: flex;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	background-color: rgb(20, 20, 20)
}

#character
{
	margin: auto;
	font-size: 10rem;
	font-weight: 700;
	position: absolute;
	font-family: sans-serif;
	color: rgb(0, 255, 0);
	background-color: rgba(0, 0, 0, 0);
}

#character-sets
{
	margin: 0px;
	font-size: 2rem;
	color: rgb(0, 255, 0);
	border-color: rgb(0, 255, 0);
	background-color: rgb(20, 20, 20);
}

#order-options
{
	margin: 0px;
	font-size: 2rem;
	color: rgb(0, 255, 0);
	border-color: rgb(0, 255, 0);
	background-color: rgb(20, 20, 20);
}

#reset-button
{
	margin: 0px;
	font-size: 2rem;
	color: rgb(0, 255, 0);
	border-color: rgb(0, 255, 0);
	background-color: rgb(20, 20, 20);
}

#error-counter
{
	top: 0rem;
	margin: auto;
	font-size: 4rem;
	font-weight: 700;
	position: absolute;
	font-family: sans-serif;
	color: rgb(255, 0, 0);
	background-color: rgba(0, 0, 0, 0);
}

#settings
{
	top: 0;
	left: 0;
	margin: 4px;
	position: fixed;
	align-items: center;
	justify-content: center;
}